<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utg-8">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <meta name="description" content="Portfolio Roberto Veintemilla">
  <meta name="copyright" content="codeglim">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title tag -->
  <title>
    <%= title %> &minus; Portfolio
  </title>

  <%- include('./styles') %>
</head>

<body>

  <!-- Preloader -->
  <div class="loader">
    <div class="loader-inner">
      <div class="k-line k-line11-1"></div>
      <div class="k-line k-line11-2"></div>
      <div class="k-line k-line11-3"></div>
      <div class="k-line k-line11-4"></div>
      <div class="k-line k-line11-5"></div>
    </div>
  </div>

  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="logo">
            <a href="/" class="tab-title">ROBERTO VEINTEMILLA</a>
          </div>
          <div class="mobile-nav"></div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="nav-area">
            <!-- Main Menu -->
            <nav class="mainmenu">
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav menu">
                  <li class="active"><a href="#personal-area"><i class="fa fa-home"></i>Inicio</a></li>
                  <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
                  <li><a href="#my-timeline"><i class="fa fa-history"></i>Timeline</a></li>
                  <li><a href="#contact"><i class="fa fa-address-book"></i>Contacto</a></li>
                </ul>
                <ul class="social-icon">
                  <li><a href="#header"><i class="fa fa-plus"></i></a></li>
                </ul>
                <ul class="social">
                  <li><a href="https://www.facebook.com/robert.leand/"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.github.com/robertlean"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/roberto-leandro-veintemilla-429a888a/"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://api.whatsapp.com/send?phone=541151372235"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Personal Area -->
  <section id="personal-area">
    <div class="personal-main">
      <div class="personal-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- Personal Text -->
              <div class="personal-text">
                <div class="my-info">
                  <h1>Hola! Soy Roberto Veintemilla</h1>
                  <h2 class="cd-headline clip is-full-width">
                    Soy 
                    <span class="cd-words-wrapper">
                      <b class="is-visible">Desarrollador</b>
                      <b>Diseñador Web</b>
                      <b>Programador BackEnd</b>
                      <b>Programador FrontEnd</b>
                      <b>Autodidacta</b>
                    </span>
                  </h2>
                  <div class="button" style="display: flex; justify-content: center">
                    <a href="#contact" class="btn primary shine"><i class="fa fa-rocket"></i>Contactame</a>
                    <a href="#portfolio" class="btn shine"><i class="fa fa-briefcase"></i>Mis proyectos</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Me -->
  <section class="section" id="about-me">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 fix">
          <!-- About tab -->
          <div class="tabs-main">
            <!-- Tab Menu -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><span class="tooltips">Sobre mí</span><a href="#welcome" role="tab"
                  data-toggle="tab"><i class="fa fa-user"></i></a></li>
              <li role="presentation"><span class="tooltips">Mi Skill</span><a href="#skill" role="tab"
                  data-toggle="tab"><i class="fa fa-rocket"></i></a></li>              
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="welcome" role="tabpanel">
                <div class="about-text">
                  <h2 class="tab-title">Sobre Mí</h2>
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-image">
                        <img src="/images/perfil.png" alt="perfil">
                      </div>
                    </div>
                    <!-- About Image -->
                    <div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="content">
                        <strong style="color: white;"> Soy programador Web Full Stack con seniority Junior amante de la tecnología y apasionado por la informática. </strong>
                        <p></p>
                        <p>Hice curso de Programación Web Full Stack en Digital House de la mano de Fundación Formar Argentina.
                          También he hecho la aceleración de backend NodeJs en Alkemy. En ambos lugares aprendí muchas tecnólogias y como trabajar en equipo</p>
                        <p>Estuve trabajando como ayudante docente en Fundación Formar para la misma matería que aprendí, programación web full stack. 
                          Estoy preparado para nuevos proyectos</p>
                      </div>
                      <div class="social">
                        <ul>
                          <li><a href="https://www.facebook.com/robert.leand/"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://www.github.com/robertlean"><i class="fa fa-github"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/roberto-leandro-veintemilla-429a888a/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Tab -->
              <div class="tab-pane fade" id="skill" role="tabpanel">
                <h2 class="tab-title">Mi Skills</h2>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>Diseño Web</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                          aria-valuemax="100" style="width: 50%;"><span>50%</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>Programacion BackEnd</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                          aria-valuemax="100" style="width: 60%;"><span>60%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>Photoshop</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                          aria-valuemax="100" style="width: 70%;"><span>70%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>HTML5/CSS3</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                          aria-valuemax="100" style="width: 70%;"><span>70%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>ReactJs</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                          aria-valuemax="100" style="width: 25%;"><span>25%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>SQL (MySql / PostgreSQL)</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                          aria-valuemax="100" style="width: 40%;"><span>40%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  
                </div>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Porfolio -->
  <section class="section" id="portfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-title">
            <h1><span>Mi</span> Portfolio <i class="fa fa-briefcase"></i></h1>
            <p>A lo largo de mi aprendizaje como desarrollador web he hecho varios proyectos siendo estos full stack y programación Backend. Cada proyecto están subidos a Github. A continuación verás algunas muestras de estos</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- portfolio Nav -->
          <div class="portfolio-nav">
            <ul>
              <li class="active" data-filter="*"><span>05</span><i class="fa fa-tasks"></i>Todos las muestras</li>
              <li data-filter=".development"><span>02</span><i class="fa fa-pencil"></i>Desarrollo Web</li>
              <li data-filter=".design"><span>01</span><i class="fa fa-paint-brush"></i>FrontEnd</li>
              <li data-filter=".backend"><span>02</span><i class="fa fa-align-left"></i>Backend</li>
            </ul>
          </div>
          <!--/ End portfolio Nav -->
        </div>
      </div>
      <div class="portfolio-inner">
        <div class="row stylex">
          <div class="isotop-active">
            <!-- Single Portfolio -->
            <div class="mix design col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="images/img-calculadora.jpg" alt="" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>Diseño FrontEnd</span><a href="https://www.github.com/robertlean/calculadoraReact">Calculadora</a></h4>
                  <p>Calculadora básica realizada con React</p>
                  <div class="button">
                    <a href="https://www.github.com/robertlean/calculadoraReact" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mix development col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="images/img-cosmicatarot.jpg" alt="Cosmica Tarot" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>Desarrollo Web</span><a href="https://github.com/Robertlean/cosmicatarotExpress">Cosmica Tarot</a></h4>
                  <p>Primera página web realizada para la consulta de tiradas y ver el horoscopo de cada persona. </p>
                  <div class="button">
                    <a href="https://github.com/Robertlean/cosmicatarotExpress" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--/ End portfolio -->

            <!-- Single portfolio -->
            <div class="mix backend col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="./images/img-practiceApis.jpg" alt="" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>Desarrollo backend</span><a href="https://github.com/Robertlean/practiceApis">Practica de APIs con Swagger</a></h4>
                  <p>Practica para mostrar APIs de CRUD para clientes y productos </p>
                  <div class="button">                    
                    <a href="https://github.com/Robertlean/practiceApis" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--/ End portfolio -->
            <!-- Single portfolio -->
            <div class="mix backend col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="./images/img-SomosMas.jpg" alt="" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>Desarrollo backend</span><a href="#">Proyecto SOMOS MAS</a></h4>
                  <p>Proyecto para la aceleración de NodeJs en Alkemy. Este proyecto fue de manera fictisía en donde aprendimos muchas herramientas.</p>
                  <div class="button">                    
                    <a href="https://github.com/alkemyTech/OT118-Server" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Single portfolio -->
            <div class="mix development col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="./images/img-CongeladosGo.jpg" alt="" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>Desarrollo Web</span><a href="#">Congelados Go!</a></h4>
                  <p>Proyecto realizado para el curso de Programación web Full Stack dado por Fundación Formar junto a Digital House</p>
                  <div class="button">                    
                    <a href="https://github.com/alkemyTech/OT118-Server" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Button -->
        <div class="button">
          <a href="https://www.github.com/robertlean" class="btn">Más Repositorios<i class="fa fa-angle-double-right"></i></a>
        </div>
        <!-- End Button -->
      </div>
    </div>
  </section>

  <!-- Start Timeline-->
  <section id="my-timeline" class="section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-title">
            <h1><span>Trabajo & </span>Educación<i class="fa fa-history"></i></h1>
            <p>A continuación te mostraré un recorrido por un timeline resumido sobre mis trabajos y aprendizaje pasados.<p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="timeline">
            <div class="timeline-inner">
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Ene <span>09</span> -<br>Dic <span>11</span></p>
                    </div>
                    <h2>Instituto Almafuerte Pilar</h2>
                    <p>Bachiller en Econonía y Gestión de las organizaciones.<p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInRight" data-wow-delay="0.6s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Jul <span>12</span> -<br>Feb <span>13</span></p>
                    </div>
                    <h2>Electronic Town</h2>
                    <p>Atención al cliente en tienda electrónica.<p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Jul <span>13</span> - Sin finalizar</p>
                    </div>
                    <h2>Universidad César Vallejo</h2>
                    <p>Ingeniería en sistemas de la información<p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Ago <span>18</span> - <br>Dic <span>18</span></p>
                    </div>
                    <h2>Dash e-commerce</h2>
                    <p>Atención al cliente en Mercado Libre e Instagram.<p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Ene <span>20</span> - Actualidad</p>
                    </div>
                    <h2>Congelados Go!</h2>
                    <p>Emprendimiento familiar de productos de rotisería congelados</p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInRight" data-wow-delay="0.6s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Abr <span>20</span> - Nov <span>20</span></p>
                    </div>
                    <h2>Fundación Formar - Digital House</h2>
                    <p>Programación Web Full Stack</p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Abr <span>21</span> - Nov <span>21</span></p>
                    </div>
                    <h2>Fundación Formar</h2>
                    <p>Ayudante docente en Programación Web Full Stack</p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Nov <span>21</span> - Actualidad</p>
                    </div>
                    <h2>Open English</h2>
                    <p>Inglés online</p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <div class="single-main wow fadeInRight" data-wow-delay="0.6s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Dic <span>21</span> - <br>Ene <span>22</span></p>
                    </div>
                    <h2>Alkemy</h2>
                    <p>Aceleración en NodeJs backend</p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ End Timeline -->

  <!-- Start Call To Action -->
  <section id="call-action" class="section wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="call-action-main">
            <h2>Estoy listo para nuevos proyectos</h2>
            <p>Si aún te quedo alguna duda o estás interesado en contratarme para tu empresa podes descargar mi Curriculum Vitae</p>
            <div class="button">
              <a href="./CV Roberto Veintemilla.pdf" class="btn"><i class="fa fa-address-book"></i>Descargar CV</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ End Call To Action -->

  <!-- Start Contact -->
  <section id="contact" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-title">
            <h1><span>Contactame</span><i class="fa fa-star"></i></h1>
            <p>Podes comunicarte conmigo de las siguientes maneras. Te contestaré lo antes posible<p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Contact Form -->
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.4s">
          <form class="form" method="post" action="/" id="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="name" placeholder="Nombre Completo" required="required">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" name="email" placeholder="Tu Email" required="required">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea name="message" rows="6" placeholder="Escribe tu mensaje aquí" required></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group button">
                  <input type="submit" id="button" value="ENVIAR" class="button primary">
                </div>
              </div>
            </div>
          </form>
          <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

          <script type="text/javascript">
            emailjs.init('laFdH2FxBwFMsDwHY')
          </script>
        </div>
        <!--/ End Contact Form -->
        <!-- Contact Address -->
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.8s">
          <div class="contact">
            <!-- Single Address -->
            <div class="single-address">
              <i class="fa fa-phone"></i>
              <div class="title">
                <h4>Mi Telefono</h4>
                <p>+549-11-5137-2235</p>
              </div>
            </div>
            <!--/ End Single Address -->
            <!-- Single Address -->
            <div class="single-address">
              <i class="fa fa-envelope"></i>
              <div class="title">
                <h4>Dirección de email</h4>
                <p>robert_lean@live.com.ar,<br>robertoveintemilla@gmail.com</p>
              </div>
            </div>
            <!--/ End Single Address -->
            <!-- Single Address -->
            <div class="single-address">
              <i class="fa fa-map"></i>
              <div class="title">
                <h4>Mi ubicación</h4>
                <p>Pilar, <br>Buenos Aires, <br>Argentina</p>
              </div>
            </div>
            <!--/ End Single Address -->
          </div>
        </div>
        <!--/ End Contact Address -->
      </div>
    </div>
  </section>
  <!--/ End Contact -->

  <!-- Start Footer -->
  <footer id="footer">
    <!-- Arrow -->
    <div class="arrow">
      <a href="#personal-area" class="btn"><i class="fa fa-angle-up"></i></a>
    </div>
    <!--/ End Arrow -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- Copyright -->
          <div class="copyright">
            <p>&copy; Diseñado en el año 2022 con ❤️ por Robert Veintemilla. Plantilla <a href="https://codeglim.com">Codeglim.com</a>
            </p>
          </div>
          <!--/ End Copyright -->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- Social -->
          <ul class="social">
            <li><a href="https://www.facebook.com/robert.leand/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/roberto-leandro-veintemilla-429a888a/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!--/ End Social -->
        </div>
      </div>
    </div>
  </footer>
  <!--/ End Footer -->

  <%- include('./scripts') %>
</body>

</html>