<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utg-8">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <meta name="description" content="Portfolio Roberto Veintemilla">
  <meta name="copyright" content="codeglim">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title tag -->
  <title>
    <%= title %> &minus; Portfolio
  </title>

  <%- include('./styles') %>
</head>

<body>

  <!-- Preloader -->
  <div class="loader">
    <div class="loader-inner">
      <div class="k-line k-line11-1"></div>
      <div class="k-line k-line11-2"></div>
      <div class="k-line k-line11-3"></div>
      <div class="k-line k-line11-4"></div>
      <div class="k-line k-line11-5"></div>
    </div>
  </div>

  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="logo">
            <a href="/" class="tab-title">ROBERTO VEINTEMILLA</a>
          </div>
          <div class="mobile-nav"></div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="nav-area">
            <!-- Main Menu -->
            <nav class="mainmenu">
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav menu">
                  <li class="active"><a href="#personal-area"><i class="fa fa-home"></i>Inicio</a></li>
                  <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
                  <li><a href="#my-timeline"><i class="fa fa-history"></i>Timeline</a></li>
                  <li><a href="#contact"><i class="fa fa-address-book"></i>Contacto</a></li>
                </ul>
                <ul class="social-icon">
                  <li><a href="#header"><i class="fa fa-plus"></i></a></li>
                </ul>
                <ul class="social">
                  <li><a href="https://www.facebook.com/robert.leand/"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.github.com/robertlean"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/roberto-leandro-veintemilla-429a888a/"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://api.whatsapp.com/send?phone=541151372235"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Personal Area -->
  <section id="personal-area">
    <div class="personal-main">
      <div class="personal-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- Personal Text -->
              <div class="personal-text">
                <div class="my-info">
                  <h1>Hola! Soy Roberto Veintemilla</h1>
                  <h2 class="cd-headline clip is-full-width">
                    Soy
                    <span class="cd-words-wrapper">
                      <b class="is-visible">Desarollador</b>
                      <b>Diseñador Web</b>
                      <b>Programador BackEnd</b>
                      <b>Programador FrontEnd</b>
                      <b>Autodidacta</b>
                    </span>
                  </h2>
                  <div class="button">
                    <a href="#contact" class="btn primary shine"><i class="fa fa-rocket"></i>Contactame</a>
                    <a href="#portfolio" class="btn shine"><i class="fa fa-briefcase"></i>Mis proyectos</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Me -->
  <secion class="section" id="about-me">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 fix">
          <!-- About tab -->
          <div class="tabs-main">
            <!-- Tab Menu -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><span class="tooltips">Sobre mí</span><a href="#welcome" role="tab"
                  data-toggle="tab"><i class="fa fa-user"></i></a></li>
              <li role="presentation"><span class="tooltips">Mi Skill</span><a href="#skill" role="tab"
                  data-toggle="tab"><i class="fa fa-rocket"></i></a></li>
              <li role="presentation"><span class="tooltips">Por que yo</span><a href="#why" role="tab"
                  data-toggle="tab"><i class="fa fa-question"></i></a></li>
              
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="welcome" role="tabpanel">
                <div class="about-text">
                  <h2 class="tab-title">Sobre Mí</h2>
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-image">
                        <img src="/images/perfil.png" alt="perfil">
                      </div>
                    </div>
                    <!-- About Image -->
                    <div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="content">
                        <strong style="color: white;"> Soy programador Web Full Stack con seniority Junior. Hice cursos el curso en Digital House de la mano de Fundación Formar Argentina.
                           También he hecho la aceleración de backend NodeJs en Alkemy. En ambos lugares aprendí muchas tecnólogias y como trabajar en equipo</strong>
                        <br>
                        <p>Estuve trabajando como ayudante docente en Fundación Formar para la misma matería que aprendí, programación web full stack. 
                          Estoy dispuesto a aprender nuevas hábilidades para futuras empresas</p>
                      </div>
                      <div class="social">
                        <ul>
                          <li><a href="https://www.facebook.com/robert.leand/"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://www.github.com/robertlean"><i class="fa fa-github"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/roberto-leandro-veintemilla-429a888a/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Tab -->
              <div class="tab-pane fade" id="skill" role="tabpanel">
                <h2 class="tab-title">Mi Skills</h2>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>Diseño Web</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                          aria-valuemax="100" style="width: 50%;"><span>50%</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>Programacion BackEnd</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                          aria-valuemax="100" style="width: 60%;"><span>60%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>Photoshop</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                          aria-valuemax="100" style="width: 70%;"><span>70%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>HTML5/CSS3</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                          aria-valuemax="100" style="width: 70%;"><span>70%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Single Skill -->
                    <div class="single-skill">
                      <div class="skill-info">
                        <h4>ReactJs</h4>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                          aria-valuemax="100" style="width: 25%;"><span>25%</span></div>
                      </div>
                    </div>
                    <!--/ End Single Skill -->
                  </div>
                  
                </div>
              </div>
              <!-- Single Tab -->
              <div class="tab-pane fade" id="why" role="tabpanel">
                <div class="about-text">
                  <h2 class="tab-title">Por que yo?</h2>
                  <div class="content">
                    <p>Soy un programador con muchas ansias de seguir desarrollandome en este mundo</p>
                    <p>Sigo aprendiendo todos los días y avanzando siendo autodidacta en mi desarrollo personal </p>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </secion>

  <!-- Service -->
  <section class="section" id="my-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-title">
            <h1><span>Mi</span> Servicio<i class="fa fa-rocket"></i></h1>
            <p>Servicio Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur, eveniet cum
              placeat blanditiis assumenda enim excepturi et laudantium nostrum consequuntur est odio iusto ad quae
              nobis voluptatibus quidem eos.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
          <!-- Single Service -->
          <div class="single-service active">
            <i class="fa fa-html5"></i>
            <h2>Diseño Web</h2>
            <p>Hay uchas variaciones de pasajes de Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iusto
              nesciunt saepe asperiores cupiditate, quae totam officiis fugit perferendis nulla voluptatem velit! Esse
              ullam sit eaque maxime ad tempore fugiat.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
          <!-- Single Service -->
          <div class="single-service">
            <i class="fa fa-code"></i>
            <h2>Web Development</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some</p>
          </div>
          <!-- End Single Service -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
          <!-- Single Service -->
          <div class="single-service">
            <i class="fa fa-mobile"></i>
            <h2>Responsive Design</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some</p>
          </div>
          <!-- End Single Service -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="1s">
          <!-- Single Service -->
          <div class="single-service">
            <i class="fa fa-pencil-square-o"></i>
            <h2>Customize Website</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some</p>
          </div>
          <!-- End Single Service -->
        </div>
      </div>
    </div>
  </section>

  <!-- Porfolio -->
  <section class="section" id="portfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-title">
            <h1><span>Mi</span> Portfolio <i class="fa fa-briefcase"></i></h1>
            <p>Longer Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsa sit quod eveniet
              possimus aspernatur earum, unde consequuntur maxime nostrum eius. Illo officiis dolore placeat voluptatum
              debitis deleniti laborum incidunt?</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- portfolio Nav -->
          <div class="portfolio-nav">
            <ul>
              <li class="active" data-filter="*"><span>06</span><i class="fa fa-tasks"></i>All Works</li>
              <li data-filter=".development"><span>03</span><i class="fa fa-pencil"></i>Web Development</li>
              <li data-filter=".design"><span>02</span><i class="fa fa-paint-brush"></i>Web Design</li>
              <li data-filter=".html5"><span>03</span><i class="fa fa-html5"></i>HTML5</li>
            </ul>
          </div>
          <!--/ End portfolio Nav -->
        </div>
      </div>

      <div class="portfolio-inner">
        <div class="row stylex">
          <div class="isotop-active">
            <!-- Single Portfolio -->
            <div class="mix development html5 col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="http://via.placeholder.com/1500x1000" alt="" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>Diseño Web</span><a href="#">Project Name Here</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum tincidunt vulputate</p>
                  <div class="button">
                    <a data-fancybox="gallery" href="http://via.placeholder.com/1500x1000"><i
                        class="fa fa-search"></i></a>
                    <a href="portfolio-single.html" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix design development col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="http://via.placeholder.com/1500x1000" alt="" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>Html Website</span><a href="#">Project Name Here</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum tincidunt vulputate. </p>
                  <div class="button">
                    <a data-fancybox="gallery" href="http://via.placeholder.com/1500x1000"><i
                        class="fa fa-search"></i></a>
                    <a href="portfolio-single.html" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--/ End portfolio -->

            <!-- Single portfolio -->
            <div class="mix design html5 col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="http://via.placeholder.com/1500x1000" alt="" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>HTML5</span><a href="#">Project Name Here</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum tincidunt vulputate. </p>
                  <div class="button">
                    <a data-fancybox="gallery" href="http://via.placeholder.com/1500x1000"><i
                        class="fa fa-search"></i></a>
                    <a href="portfolio-single.html" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--/ End portfolio -->
            <!-- Single portfolio -->
            <div class="mix development col-md-4 col-sm-6 col-xs-12 col-fix">
              <div class="portfolio-single">
                <div class="portfolio-head">
                  <img src="http://via.placeholder.com/1500x1000" alt="" />
                </div>
                <div class="portfolio-hover">
                  <h4><span>Web Design</span><a href="#">Project Name</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum tincidunt vulputate. </p>
                  <div class="button">
                    <a data-fancybox="gallery" href="http://via.placeholder.com/1500x1000"><i
                        class="fa fa-search"></i></a>
                    <a href="portfolio-single.html" class="primary"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Button -->
        <div class="button">
          <a href="portfolio-full-width.html" class="btn">More Portfolio<i class="fa fa-angle-double-right"></i></a>
        </div>
        <!-- End Button -->
      </div>
    </div>
  </section>

  <!-- Start Timeline-->
  <section id="my-timeline" class="section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-title">
            <h1><span>Work & </span>Education<i class="fa fa-history"></i></h1>
            <p>ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old
            <p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="timeline">
            <div class="timeline-inner">
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Jan<span>10</span></p>
                    </div>
                    <h2>High School Degree</h2>
                    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam efficitur ultricies elit,
                      eget ullamcorper enim scelerisque sit amet. Pellentesque blandit venenatis rhoncus.
                    <p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInRight" data-wow-delay="0.6s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Dec<span>12</span></p>
                    </div>
                    <h2>Start Web Design</h2>
                    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam efficitur ultricies elit,
                      eget ullamcorper enim scelerisque sit amet. Pellentesque blandit venenatis rhoncus.
                    <p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Jan<span>13</span></p>
                    </div>
                    <h2>Join University</h2>
                    <p>Starting College DayInterdum et malesuada fames ac ante ipsum primis in faucibus. Etiam efficitur
                      ultricies elit, eget ullamcorper enim scelerisque sit amet. Pellentesque blandit venenatis
                      rhoncus.</p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInRight" data-wow-delay="0.6s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Feb<span>16</span></p>
                    </div>
                    <h2>Start Web Developments</h2>
                    <p>Learn Web Developments Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam
                      efficitur ultricies elit, eget ullamcorper enim scelerisque sit amet. Pellentesque blandit
                      venenatis rhoncus.</p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
              <!-- Single Timeline -->
              <div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-timeline">
                  <div class="single-content">
                    <div class="date">
                      <p>Jan<span>17</span></p>
                    </div>
                    <h2>Complete Graduations</h2>
                    <p>Just Receive my Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam efficitur
                      ultricies elit, eget ullamcorper enim scelerisque sit amet. Pellentesque blandit venenatis
                      rhoncus.</p>
                  </div>
                </div>
              </div>
              <!--/ End Single Timeline -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ End Timeline -->

  <!-- Start Call To Action -->
  <section id="call-action" class="section wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="call-action-main">
            <h2>I'm Ready for your next project</h2>
            <p>Nam eleifend, turpis ac laoreet tincidunt, arcu purus ultricies nisl, quis molestie nibh lacus et dui.
              Nunc efficitur turpis lorem, bibendum dictum libero ornare a. Proin quis metus massa. Aliquam erat
              volutpat. Nullam eu convallis arcu, sit amet pulvinar odio. Nulla facilisi. Nullam ac nibh ac lectus
              aliquet aliquam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam sed ipsum non tortor
              posuere rutrum. </p>
            <div class="button">
              <a href="#" class="btn"><i class="fa fa-address-book"></i>Hire ME Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ End Call To Action -->

  <!-- Start Contact -->
  <section id="contact" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-title">
            <h1><span>Contactame</span><i class="fa fa-star"></i></h1>
            <p>Podes comunicarte conmigo de las siguientes maneras. Te contestaré lo antes posible<p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Contact Form -->
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.4s">
          <form class="form" method="post" action="/" id="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="name" placeholder="Nombre Completo" required="required">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" name="email" placeholder="Tu Email" required="required">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea name="message" rows="6" placeholder="Escribe tu mensaje aquí" required></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group button">
                  <input type="submit" id="button" value="ENVIAR" class="button primary">
                </div>
              </div>
            </div>
          </form>
          <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

          <script type="text/javascript">
            emailjs.init('laFdH2FxBwFMsDwHY')
          </script>
        </div>
        <!--/ End Contact Form -->
        <!-- Contact Address -->
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.8s">
          <div class="contact">
            <!-- Single Address -->
            <div class="single-address">
              <i class="fa fa-phone"></i>
              <div class="title">
                <h4>Mi Telefono</h4>
                <p>+549-11-5137-2235</p>
              </div>
            </div>
            <!--/ End Single Address -->
            <!-- Single Address -->
            <div class="single-address">
              <i class="fa fa-envelope"></i>
              <div class="title">
                <h4>Dirección de email</h4>
                <p>robert_lean@live.com.ar,<br>robertoveintemilla@gmail.com</p>
              </div>
            </div>
            <!--/ End Single Address -->
            <!-- Single Address -->
            <div class="single-address">
              <i class="fa fa-map"></i>
              <div class="title">
                <h4>Mi ubicación</h4>
                <p>Pilar, <br>Buenos Aires, <br>Argentina</p>
              </div>
            </div>
            <!--/ End Single Address -->
          </div>
        </div>
        <!--/ End Contact Address -->
      </div>
    </div>
  </section>
  <!--/ End Contact -->

  <!-- Start Footer -->
  <footer id="footer">
    <!-- Arrow -->
    <div class="arrow">
      <a href="#personal-area" class="btn"><i class="fa fa-angle-up"></i></a>
    </div>
    <!--/ End Arrow -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- Copyright -->
          <div class="copyright">
            <p>&copy; Diseñado en el año 2022 con ❤️ por Robert Veintemilla. Plantilla <a href="https://codeglim.com">Codeglim.com</a>
            </p>
          </div>
          <!--/ End Copyright -->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- Social -->
          <ul class="social">
            <li><a href="https://www.facebook.com/robert.leand/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/roberto-leandro-veintemilla-429a888a/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!--/ End Social -->
        </div>
      </div>
    </div>
  </footer>
  <!--/ End Footer -->

  <%- include('./scripts') %>
</body>

</html>